<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#데이터분석-루틴-개발" data-toc-modified-id="데이터분석-루틴-개발-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>데이터분석 루틴 개발</a></span></li><li><span><a href="#데이터-형식을-변경해-메모리-저장" data-toc-modified-id="데이터-형식을-변경해-메모리-저장-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>데이터 형식을 변경해 메모리 저장</a></span></li><li><span><a href="#최대에서-최소-선택" data-toc-modified-id="최대에서-최소-선택-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>최대에서 최소 선택</a></span></li><li><span><a href="#정렬을-통해-각-그룹에서-최대-선택" data-toc-modified-id="정렬을-통해-각-그룹에서-최대-선택-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>정렬을 통해 각 그룹에서 최대 선택</a></span></li><li><span><a href="#sort_values를-사용해-nlargest-복제" data-toc-modified-id="sort_values를-사용해-nlargest-복제-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>sort_values를 사용해 nlargest 복제</a></span></li><li><span><a href="#추적-지정-주문가-계산" data-toc-modified-id="추적-지정-주문가-계산-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>추적 지정 주문가 계산</a></span></li><li><span><a href="#funtions" data-toc-modified-id="funtions-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>funtions</a></span></li></ul></div>

In [10]:
# libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [11]:
# load & check data
root = 'C:/Users/wonca/Documents/data/pandas_cookbook/'
file_name = 'college.csv'

college_df = pd.read_csv(root+file_name)

## 데이터분석 루틴 개발
1. head: 
2. shape: 차원
3. info: dtype, 누락값 수, memory 사용량
4. 기술통계량

In [30]:
# 7 -funtions
init_eda(college_df)

===== 1. head =====

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

===== 2. shape =====
(7535, 27)
===== 3. dtype, number of not null values, memory usage =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
INSTNM                7535 non-null object
CITY                  7535 non-null object
STABBR                7535 non-null object
HBCU                  7164 non-null float64
MENONLY               7164 non-null float64
WOMENONLY             7164 non-null float64
RELAFFIL              7535 non-null int64
SATVRMID              1185 non-null float64
SATMTMID              1196 non-null float64
DISTANCEONLY          7164 non-null float64
UGDS                  6874 non-null float64
UGDS_WHITE            6874 non-null float64
UGDS_BLACK            6874 non-null float64
UGDS_HISP             6874 non-null float64
UGDS_ASIAN            6874 non-null float64
UGDS_AIAN             6874 non-null float64
UGDS_NHPI             6874 non-null float64
UGDS_2MOR             6874 non-null float64
UGDS_NRA              6874 non-null float64
UGDS_UNKN             6874 non-null float64
PPTUG_EF              6853 non-null float64
CURROPER              7535 non-null int64
PCTPELL               6849 non-null float64
PCTFLOAN              6849 non-null float64
UG25ABV               6718 non-null float64
MD_EARN_WNE_P10       6413 non-null object
GRAD_DEBT_MDN_SUPP    7503 non-null object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

None

===== 4. decriptive statistics =====
===== 4.1. numeric features =====

,count,null_ratio,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.049237,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.049237,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.049237,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.000000,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,0.842734,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,0.841274,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.049237,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,0.087724,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.087724,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.087724,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.087724,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.087724,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.087724,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.087724,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.087724,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.087724,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.087724,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.090511,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.000000,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.091042,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.091042,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.108427,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

===== 4.2. categorical features =====

                   count unique                         top  freq
INSTNM              7535   7535  DeVry University-Minnesota     1
CITY                7535   2514                    New York    87
STABBR              7535     59                          CA   773
MD_EARN_WNE_P10     6413    598           PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038           PrivacySuppressed  1510

## 데이터 형식을 변경해 메모리 저장

## 최대에서 최소 선택

## 정렬을 통해 각 그룹에서 최대 선택

## sort_values를 사용해 nlargest 복제

## 추적 지정 주문가 계산

## funtions

In [29]:
def init_eda(df):
    '''print initial informations for input dataframe
    Args:
        df (pd.DataFrame): input dataFrame
    returns:
        1. head of dataframe
        2. shape of dataframe
        3. dtype, number of not null values per column
        4. descriptive statistics
            4.1.: numeric feature: count, min, std, min, qutile, max
            4.2.: categorical features: number of unique values, most frequent value, top frequency'''
    
    print('===== 1. head =====')
    display(df.head())
    
    print('===== 2. shape =====')
    print(df.shape)
    
    print('===== 3. dtype, number of not null values, memory usage =====')
    display(df.info())
    
    print('===== 4. decriptive statistics =====')
    
    print('===== 4.1. numeric features =====')
    desc_df = df.describe().T 
    
    null_ratio = df.isnull().mean()  # null value ratio
    null_ratio_idx = desc_df.columns.get_loc('count') + 1
    
    desc_df.insert(loc=null_ratio_idx,
                    column='null_ratio',
                    value=null_ratio)  # insert null value ratio next to count

    display(desc_df)
    
    print('===== 4.2. categorical features =====')
    display(df.describe(include=[np.object, pd.Categorical]).T)
    
    return None